@import url("https://fonts.googleapis.com/css?family=Raleway");
.text-center {
  text-align: center; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

body {
  font-family: 'Raleway', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

.daora {
  font-weight: 900;
  color: #222; }

.navbar {
  display: block;
  top: 0;
  left: 0;
  margin: 0 80px; }
  .navbar:after {
    content: "";
    display: table;
    clear: both; }
  .navbar .navbar__brand {
    padding: 15px; }
    .navbar .navbar__brand--right {
      float: right; }
      .navbar .navbar__brand--right ul > li {
        margin-right: 30px; }
    .navbar .navbar__brand--left {
      float: left; }
      .navbar .navbar__brand--left ul > li {
        margin-left: 30px; }
  .navbar .navbar__itens {
    padding: 15px; }
    .navbar .navbar__itens ul {
      margin: 0;
      padding: 0; }
      .navbar .navbar__itens ul li {
        display: inline;
        list-style-type: none; }
        .navbar .navbar__itens ul li a:hover {
          border-bottom: 1px solid #fff; }
    .navbar .navbar__itens--right {
      float: right; }
      .navbar .navbar__itens--right ul > li {
        margin-right: 30px; }
    .navbar .navbar__itens--left {
      float: left; }
      .navbar .navbar__itens--left ul > li {
        margin-left: 30px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  font-size: 13px; }

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#8AACFF), to(#5788ff));
  background: -webkit-linear-gradient(#8AACFF, #5788ff);
  background: -moz-linear-gradient(#8AACFF, #5788ff);
  background: -o-linear-gradient(#8AACFF, #5788ff);
  background: linear-gradient(#8AACFF, #5788ff);
  color: white; }

/*--------- Grid System ---------*/
.row,
.col {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  .row:after,
  .col:after {
    content: "";
    display: table;
    clear: both; }

.col {
  position: relative;
  float: left; }
  .col + .col {
    margin-left: 1.6%; }

/*--------- Columns Widths ---------*/
.col-1 {
  width: 6.86666666667%; }

.col-2 {
  width: 15.3333333333%; }

.col-3 {
  width: 23.8%; }

.col-4 {
  width: 32.2666666667%; }

.col-5 {
  width: 40.7333333333%; }

.col-6 {
  width: 49.2%; }

.col-7 {
  width: 57.6666666667%; }

.col-8 {
  width: 66.1333333333%; }

.col-9 {
  width: 74.6%; }

.col-10 {
  width: 83.0666666667%; }

.col-11 {
  width: 91.5333333333%; }

.col-12 {
  width: 100%; }

/*--------- simple responsiveness with only 1 mq ---------*/
@media only screen and (max-width: 550px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: auto;
    float: none; }
  .col + .col {
    margin-left: 0; } }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
