@-ms-viewport   { width: device-width; }
@-o-viewport    { width: device-width; }
@viewport       { width: device-width; }

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
