html, body {
  height: 100%;
}

body {
  color: white;
  margin: 0;
  padding: 0;
}

body.index {  @include gradient-bg-color($color1); }
body.buttons {  @include gradient-bg-color($color2); }
body.links {  @include gradient-bg-color(#432C51); }
body.images {  @include gradient-bg-color(#E8AA8C); }

section {
  margin-top: 70px;
}
