// hover effect
.navbar {
  a {
    position: relative;
    &.navbar__link-effect {
      padding: 4px 0;

      &::after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        background: rgba(0, 0, 0, 0.2);
        content: '';
        opacity: 0;
        transition: opacity 0.3s, transform 0.3s;
        transform: translateY(10px);
      }

      &:hover::after {
        opacity: 1;
        transform: translateY(0px);
      }

    }
  }
}
