// TODO: make navbar responsive
.navbar {
  @include clearfix;


  // navbar properties
  top: 0;
  left: 0;
  width: 100%;
  display: block;


  .navbar__brand { padding: $navbar-padding; }


  .navbar__itens {
    padding: $navbar-padding;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline;
        list-style-type: none;
      }
    }
  }


}
