body.index {  @include gradient-bg-color($color1); }


.main {
  box-sizing: border-box;
  text-align: center;

  p {
    font-family: 'Fira Sans', sans-serif;
  }

  a.index__link {
    color: white;
    letter-spacing: 1.3px;
    border-bottom: 2px dotted white;
    transition: 0.5s ease;
    &:hover {
      border-bottom-color: rgba(0, 0, 0, 0.7);
      color: rgba(0, 0, 0, 0.7);
    }
  }

  .main__title {
    letter-spacing: 1px;
    padding-top: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
  }

  .main__content {
    text-align: justify;
    padding: 0 10px;
    font-size: 15px;
  }


  .main__box {
    background-color: $color1;
    padding-top: 25px;
    height: 50px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}
