body {
  background: linear-gradient($color1, darken($color1, 10%));
  color: white;
}

.main {
  text-align: center;
  margin-top: 20px;
  line-height: 20em;

  a {
    font-size: 13px;
    letter-spacing: 1.3px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
