/********** BUTTON EFFECT #2 **********
* IMPORTANT: Use the button together with this class: <button class="button button__effect--2">
  The button class code is on the _button file on this same folder.
* IMPORTANT2: If you want this effect to come from the left to the right
  just use the commented code instead.
* IMPORTANT3: Replace the '$color3' with the color from your preference.
***************************************/
.button__effect--2 {
  border: 3px solid $color3;
  color: $color3;

  &::after {
    width: 100%; // width: 0;
    height: 0; // height: 100%;
    top: 0;
    left: 0;
    background: $color3;
  }

  &:hover, &:active {
    color: white;

    &::after {
      height: 100%; // width: 100%;
    }
  }
}
