/********** BUTTON EFFECT #1 **********
* IMPORTANT: Use the button together with this class: <button class="button button__effect--1">
  The button class code is on the '_button.scss' file on this folder.
* IMPORTANT2: For the buttons with icons, use it with the correspondent icon class of the
  '_icons.scss' file.
* IMPORTANT3: If you want this effect to come from the left to the right
  just use the commented code instead.
* IMPORTANT4: Replace the '$color3' and '$color2' with that you want on the button.
***************************************/

.button__effect--1 {
  border: 3px solid $color3;
  color: $color3;
  transition: all 0.3s;

  &::after {
    width: 100%; // width: 0;
    height: 0; // height: 100%;
    top: 0;
    left: 0;
    background: $color3;
  }

  &:hover, &:active {
    color: $color2;

    &::after {
      height: 100%; // width: 100%;
    }
  }
}
