/********** BUTTON EFFECT #5 **********
* IMPORTANT: Use the button together with this class: <button class="button button__effect--5">
  The button class code is on the '_button.scss' file on this folder.
* IMPORTANT2: You need to download the 'fonts/' folder and get the
  'utils/_icons.scss' on this repository the get the arrow icon.
* IMPORTANT3: Replace the '$color3' and '$color2' with that you want on the button.
***************************************/

.button__effect--5 {
  position: relative;
  border-radius: 50px;
	border: 3px solid $color3;
  padding: 25px 60px;
	color: $color3;
	overflow: hidden;
  transition: all 0.3s;

  &:hover {
    background-color: darken($color2, 15%);
  }

  &::before {
    left: 70%;
  	opacity: 0;
    top: 35%; // in case you change the size of the button, this propertie need to change as well.
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 3.5;
    color: $color3;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  &:hover::before {
    left: 80%;
  	opacity: 1;
  }

  &:active {
    border-color: darken($color2, 20%);
    color: darken($color2, 20%);

    &::before {
      color: darken($color2, 20%);
    }
  }
}
