/********** BUTTON EFFECT #5 **********
* IMPORTANT: Use the button together with this class: <button class="button button__effect--5">
  The button class code is on the '_button.scss' file on this folder.
* IMPORTANT2: You need to download the 'fonts/' folder on the root of this repository
  the get the arrow icon.
* IMPORTANT3: If you want this effect to come from the left to the right
  just use the commented code instead.
* IMPORTANT4: Replace the '$color3' and '$color2' with that you want on the button.
***************************************/

// Icon properties
@font-face {
  font-family: "arrow-icon-right";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:hover::after {
  font-family: "arrow-icon-right" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:hover::after,
[class*=" icon-"]:hover::after {
  font-family: "arrow-icon-right" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right::before {
  content: "\61";
}





// Buttons properties
.button__effect--5 {
  position: relative;
  border-radius: 50px;
	border: 3px solid $color3;
  padding: 22px 60px;
	color: $color3;
	overflow: hidden;
  transition: all 0.3s;

  &:hover {
    background-color: darken($color2, 15%);
  }

  &::before {
    left: 130%;
    top: 35%; // in case you change the size of the button, this propertie need to change as well.
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 3.5;
    color: $color3;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  &:hover::before {
    left: 80%;
  }

  &:active {
    border-color: $color3;
    color: $color3;
  }
}
