/********** BUTTON EFFECT #3 **********
* IMPORTANT: Use the button together with this class: <button class="button button__effect--3">
  The button class code is on the '_button.scss' file on this folder.
* IMPORTANT2: For the buttons with icons, use it with the correspondent icon class of the
  '_icons.scss' file.
* IMPORTANT3: Replace the '$color3' and '$color2' with that you want on the button.
***************************************/

.button__effect--3 {
  background-color: $color3;
  box-shadow: 0 6px darken($color3, 15%);
  border-radius: 5px 5px 5px 5px;
  color: $color2;

  &:hover {
    box-shadow: 0 4px darken($color3, 15%);
    top: 2px;
  }

  &:active {
    box-shadow: 0 0 $color3;
    top: 6px;
  }
}
