/* Pseudo elements for icons */
.button:before,
.icon__heart:after,
.icon__star:after,
.icon__plus:after,
.icon__file:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.icon__envelope:before {
	content: "\e000";
}

.icon__cart:before {
	content: "\e007";
}

.icon__cart--2:before {
	content: "\e008";
}

.icon__heart:before {
	content: "\e009";
}

/* Filled heart */
.icon__heart:after,
.icon__heart--2:before {
	content: "\e00a";
}

.icon__star:before {
	content: "\e00b";
}

/* Filled star */
.icon__star:after,
.icon__star--2:before {
	content: "\e00c";
}

.icon__arrow--right:before {
	content: "\e00d";
}

.icon__arrow--left:before {
	content: "\e003";
}

.icon__truck:before {
	content: "\e00e";
}

.icon__remove:before {
	content: "\e00f";
}

.icon__cog:before {
	content: "\e010";
}

.icon__plus:before,
.icon__plus:after {
	content: "\e011";
}

.icon__minus:before {
	content: "\e012";
}

.icon__file:before {
	content: "\e004";
}

.icon__remove--2:before {
	content: "\e005";
}

// TODO: change whatever that is
.bh-icon-smiley:before {
	content: "\e001";
}

.bh-icon-sad:before {
	content: "\e002";
}
