.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}


.custom-hr {
  width: 4%;
  color: #fff;
  border: 0;
  margin-top: 3px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
}
