@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
body { font-family: 'Raleway', sans-serif; }

a {
  text-decoration: none;
  color: inherit;
}


.effects {
  cursor: pointer;
  font-weight: 900;
  color: $color5;

  &:hover {
    transition: 1.2s;
    color: #44632c;
  }
}
