/********** BUTTON EFFECT #7 **********
* IMPORTANT: Use the button together with this class: <a class="link link__effect--7">
  The link class code is on the '_link.scss' file on this folder.
* IMPORTANT2: In this specific case, the HTML need to be passed as:
  <a href="#" class="link link__effect--7" data-hover="your data">your data</a>
***************************************/
.link__effect--7 {
  padding: 0;
  border-top: 2px solid lighten($color2, 10%);
  color: lighten($color2, 10%);
  text-shadow: none;

  &::before {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    max-width: 0;
    border-bottom: 2px solid #fff;
    color: #fff;
    content: attr(data-hover);
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
  }

  &:hover::before, &:focus::before {
    max-width: 100%;
  }
}