/********** BUTTON EFFECT #2 **********
* IMPORTANT: Use the button together with this class: <a class="link link__effect--2">
  The link class code is on the '_link.scss' file on this folder.
***************************************/
.link__effect--2 {
  position: relative;
  padding: 4px 0;

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(10px);
  }

  &:hover::after {
    opacity: 1;
    transform: translateY(0px);
  }

}
