/********** BUTTON EFFECT #3 **********
* IMPORTANT: Use the button together with this class: <a class="link link__effect--3">
  The link class code is on the '_link.scss' file on this folder.
* IMPORTANT2: In this specific case, the HTML need to be passed as:
  <a href="#" class="link link__effect--3"><span data-hover="your data">your data</span></a>
***************************************/
.link__effect--3 {
  overflow: hidden;

  span {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  

    &::before {
      position: absolute;
      top: 100%;
      content: attr(data-hover); // the data-hover value need to be passed as a html propertie, like shown in line 5
      font-weight: 700;
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
  }

  &:hover span {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}